@import "../../1-page/styles/variables";

.heading {
    color: $grey;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    &--large {
        font-size: 50px;
    }
}