@import "../../1-page/styles/variables";

.paragraph {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: $grey;
    margin: 0;
    word-wrap: break-word;
    text-align: center;
}