@import "./variables";
@import "./animations";

.container {
    max-width: 980px; 
    padding: 30px;
    margin: 0 auto;
    background-color: $off-white;
    &__error {
        font-size: 21px;
    }
    &__loader {
        display: flex;
        animation: rotate 2s linear infinite;        
        margin: 0 auto;
        height: 50%;
        width: 50%;
    }
    &__loader-path {
        stroke-dasharray: 150,200;
        stroke-dashoffset: -10;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;        
        stroke-linecap: round;
      }
}