// MEDIA QUERIES
$large: 1200px;
$medium: 980px;
$small: 620px;

//Universal Colours to be used throughout project
$electric-moss: #00989e;
$white: #fff;
$off-white: #f8f8f8;
$blue: #577297;
$grey: #555555;
$grey-light: #999;

//break points
$small: 620px;
$medium: 980px;
$large: 1200px;