@import "../../1-page/styles/variables";

.posts {
    width: 100%;
    &__post {
        width: 100%;
        box-sizing: border-box;
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        &:first-of-type {
            opacity: 1;
            padding: 20px;
            overflow: visible;
            visibility: visible;
            max-height: inherit;
        }
        &--visible {
            opacity: 1;
            padding: 20px;
            overflow: visible;
            visibility: visible;
            max-height: inherit;
        }
    }
    &__comment-container {
        background-color: $white;
        padding: 10px 20px;
    }
    &__username-container {
        display: flex;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $grey-light;
        justify-content: flex-start;
    }
    &__username {
        align-self: center;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;        
        margin: 0;
    }
    &__profile-picture {
        border-radius: 50%;
        margin-right: 10px;
        max-width: 30px;
        max-height: 30px;
    }    
}

@media screen and (min-width: $medium) {
    .posts {
        &__post {
            display: flex;
        }
        &__image-container {
            width: 50%;
        }
        &__comment-container {
           width: 50%;
           padding: 30px;
        }
    }
}